%h1 Recipe

= error_messages_for :recipe


= form_for(@recipe, :action => url(:recipe, @recipe)) do
  %p= text_field :title,        :label => "Title : "
  %p= text_area  :instructions, :label => "Instructions : "
  %p= submit "Update"

= link_to 'Show', url(:recipe, @recipe)
|
= link_to 'Back', url(:recipes)