%h1 New Recipe

= error_messages_for :recipe

= form_for(@recipe, :action => url(:recipes)) do
  %p= text_field :title,        :label => "Title : "
  %p= text_area  :instructions, :label => "Instructions : "
  %p= submit "Create"

= link_to 'Back', url(:recipes)